.footer {
    background-color: #ffc4c4;
    color: rgb(75, 11, 11);
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Estilos do texto de direitos autorais */
.copyright p {
    margin: 5px 0;
    font-size: 16px;
}

copyright p:first-child {
    font-weight: bold;
}